# Python
__pycache__/
*.pyc
*.pyo

# Large files
retail_500k.csv

# HTML guide files
Hackathon_Practice_Guide.html
Hackathon_Presentation.html
IICS_ETL_Step_By_Step_Guide.html
Oracle_SQL_PLSQL_Guide.html

generate_data.py
